<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>
    <h1><%=name %> </h1>
   
    
  

    <% for( let index = 0; index < DetailArray.length; index++ ) { %>
        <ul>
            <li>
                <%= DetailArray[index] %> 
            </li>
        </ul>
        
        <% } %>
        <% for( let index = 0; index < statement.length; index++ ) { %>
            <ul>
                <li>
                    <%= statement[index] %> 
                </li>
            </ul>
    
    <% } %>
 
   <script>
 let para=document.getElementById('para').innerText;
 
   </script>
</body>
</html>