@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@100;200;300;400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
body{
    margin: 0;
    background-color: rgb(243, 215, 215);
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    height: 50px;
    background-color: rgb(161, 161, 214);    justify-content: space-around;
    align-items: center;
}
 .links li{
padding: 10px 10px;
list-style: none;
font-weight: 800;
color: aliceblue;

}
.links{
    /* background-color: rgb(161, 161, 214); */
    width: 80%;
}
.links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.links #name{
    color: brown;
    padding: 10px 10px;
    background-color: antiquewhite;
    border-radius: 5px;
}

.renderContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(80, 80, 74);
}

.itmes{
    border: 2px solid burlywood;
    width: 60%;
    padding-left: 120px;

    background-color: rgb(230, 196, 196);
   text-align: center;
   /* align-items: center; */
   color: rgb(32, 31, 31);
   /* height: 55px; */
}
.itmes p{
        padding-top: 8px;
    text-align: left;
    /* margin-top: 20px; */
    /* color: wheat; */

}